In [4]:
import pandas as pd
import matplotlib .pyplot as plt
import seaborn as sns
import numpy as np
sns.set_style('dark')

In [5]:
data=pd.read_csv('Movie_Id_Titles (1).csv')
data.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [6]:
col_name=['User_id','item_id','Rating','Timestamp']

In [7]:
#reading the data
data2=pd.read_csv('file.tsv',sep='\t',names=col_name)
#Check the head of the data
data2.head()

   User_id  item_id  Rating  Timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [8]:
#merging the two dataframes
m_data=pd.merge(data,data2,on='item_id')
m_data.head()

   item_id             title  User_id  Rating  Timestamp
0        1  Toy Story (1995)      308       4  887736532
1        1  Toy Story (1995)      287       5  875334088
2        1  Toy Story (1995)      148       4  877019411
3        1  Toy Story (1995)      280       4  891700426
4        1  Toy Story (1995)       66       3  883601324

In [9]:
#calculating the mean rating of the  movies
m_data.groupby('title')['Rating'].mean().sort_values(ascending=False).head()

title
They Made Me a Criminal (1939)                5.0
Marlene Dietrich: Shadow and Light (1996)     5.0
Saint of Fort Washington, The (1993)          5.0
Someone Else's America (1995)                 5.0
Star Kid (1997)                               5.0
Name: Rating, dtype: float64

In [10]:
m_data.groupby('title')['Rating'].mean().sort_values(ascending=False).tail()

title
Eye of Vichy, The (Oeil de Vichy, L') (1993)    1.0
King of New York (1990)                         1.0
Touki Bouki (Journey of the Hyena) (1973)       1.0
Bloody Child, The (1996)                        1.0
Crude Oasis, The (1995)                         1.0
Name: Rating, dtype: float64

In [11]:
#creating a dataframe with the title and ratings of the movies
rating=m_data.groupby('title')['Rating'].mean()
rating

title
'Til There Was You (1997)                2.333333
1-900 (1994)                             2.600000
101 Dalmatians (1996)                    2.908257
12 Angry Men (1957)                      4.344000
187 (1997)                               3.024390
                                           ...
Young Guns II (1990)                     2.772727
Young Poisoner's Handbook, The (1995)    3.341463
Zeus and Roxanne (1997)                  2.166667
unknown                                  3.444444
Á köldum klaka (Cold Fever) (1994)       3.000000
Name: Rating, Length: 1664, dtype: float64

In [14]:
#creating the dataframe with  rating count_values
ratings=pd.DataFrame(m_data.groupby('title')['Rating'].mean())
ratings['No of string'].DataFrame(m_data.groupby('title')['Rating'].count())
ratings.head()

KeyError: 'No of string'

In [15]:
plt.figure(figsize=(15,5))
ratings['No of strings'].hist(bins = 70)
plt.title(' Histogram of rating  and the movies')
plt.show()

KeyError: 'No of strings'

In [18]:
#sorting the movie according to the rating of the movies
#pivot_table() in Pandas to do data aggregation by splitting data into smaller units

movie_R=m_data.pivot_table(index="User_id",columns='title',values='Rating')
movie_R.head()

ratings.sort_values('No of strings', ascending = False).head(10)

                                 Rating  No of strings
title
Star Wars (1977)               4.359589            584
Contact (1997)                 3.803536            509
Fargo (1996)                   4.155512            508
Return of the Jedi (1983)      4.007890            507
Liar Liar (1997)               3.156701            485
English Patient, The (1996)    3.656965            481
Scream (1996)                  3.441423            478
Toy Story (1995)               3.878319            452
Air Force One (1997)           3.631090            431
Independence Day (ID4) (1996)  3.438228            429

In [21]:
#analysis the correlation with similar movies
liar_rating=movie_R['Liar Liar (1997)']
Toy_rating=movie_R['Toy Story (1995)']
Toy_rating.head()

User_id
0    NaN
1    5.0
2    4.0
3    NaN
4    NaN
Name: Toy Story (1995), dtype: float64

In [22]:
liar_rating

User_id
0      NaN
1      NaN
2      1.0
3      2.0
4      5.0
      ...
939    NaN
940    4.0
941    4.0
942    NaN
943    NaN
Name: Liar Liar (1997), Length: 944, dtype: float64

In [26]:
#analysis the correlation with similar movies
simiar_liar=movie_R.corrwith(liar_rating)
similat_Toy=movie_R.corrwith(Toy_rating)

In [34]:
cor_liar=pd.DataFrame(simiar_liar,columns=['Colleration'])
cor_liar.dropna(inplace=True)
cor_liar

                                       Colleration
title
'Til There Was You (1997)                 0.118913
101 Dalmatians (1996)                     0.469765
12 Angry Men (1957)                       0.066272
187 (1997)                                0.175145
2 Days in the Valley (1996)               0.040739
...                                            ...
Young Guns (1988)                         0.410988
Young Guns II (1990)                      0.352174
Young Poisoner's Handbook, The (1995)     0.445016
Zeus and Roxanne (1997)                  -0.500000
unknown                                   0.870388

[1375 rows x 1 columns]

In [31]:
cor_toy=pd.DataFrame(similat_Toy,columns=['Colleration'])
cor_toy.dropna(inplace=True)
cor_toy

                                       Colleration
title
'Til There Was You (1997)                 0.534522
101 Dalmatians (1996)                     0.232118
12 Angry Men (1957)                       0.334943
187 (1997)                                0.651857
2 Days in the Valley (1996)               0.162728
...                                            ...
Young Guns (1988)                         0.373463
Young Guns II (1990)                      0.146312
Young Poisoner's Handbook, The (1995)    -0.026402
Zeus and Roxanne (1997)                   0.447914
unknown                                   0.440959

[1370 rows x 1 columns]

In [35]:
cor_liar.sort_values('Colleration',ascending=False)

                                      Colleration
title
For Ever Mozart (1996)                        1.0
Mina Tannenbaum (1994)                        1.0
Of Human Bondage (1934)                       1.0
Love and Death on Long Island (1997)          1.0
Johnny 100 Pesos (1993)                       1.0
...                                           ...
Aparajito (1956)                             -1.0
Quiet Room, The (1996)                       -1.0
Germinal (1993)                              -1.0
When Night Is Falling (1995)                 -1.0
Lamerica (1994)                              -1.0

[1375 rows x 1 columns]

In [41]:
cor_liar=cor_liar.join(ratings['No of strings'])

ValueError: columns overlap but no suffix specified: Index(['No of strings'], dtype='object')